@import "../../app/styles/variables/media.scss";

.Navbar {
	height: var(--navbar-height);
	display: flex;
	align-items: center;
	gap: 30px;
	padding: 15px;
	@media (max-width: $md3) {
		justify-content: space-between;
		padding: 0px 15px;
	}
	@media (max-width: $md4) {
		gap: 20px;
	}
	&__logo {
	}
	&__search {
		@media (min-width: $md3) {
			margin: 0 auto;
		}
		flex: 0 1 100%;
	}
}
