@import "../../app/styles/variables/media.scss";
.LikedVideos {
	min-height: calc(100vh - var(--navbar-height));
	padding: 0px 15px 50px;
	position: relative;
	&__loader {
	}
	&__wrapper {
		position: relative;
		display: flex;
		gap: 20px;

		justify-content: center;
		max-width: 70%;
		margin: 0 auto;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
		@media (max-width: $md4) {
			max-width: 100%;
		}
	}
	&__counter {
		font: var(--font-xl);
		color: var(--primary-color);
		padding-left: 15px;
		@media (max-width: $md5) {
			left: -15px;
			top: 0px;
			font: var(--font-l);
			position: absolute;
			z-index: 1;
			padding: 3px 8px;
			background-color: var(--bg-color);
		}
	}
	&__video {
		flex: 1 1 auto;
		&:not(:last-child) {
			margin: 0px 0px 20px 0px;
		}
	}
	&__label {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%);
		color: var(--primary-color);
		font: var(--font-xl);
	}
}
