.dark {
	--bg-color: #0f0f0f;
	--secondary-bg-color: #202020;
	--primary-color: #f1f1f1;
	--secondary-color: #aaa;
	--bg-hover: rgba(255, 255, 255, 0.1);
	--bg-hint: rgba(255, 255, 255, 0.08);
	--border-color: #303030;
	--input-hint: #1c62b9;
}
