:root {
	--bg-color: #f9f9f9;
	--secondary-bg-color: #fff;
	--primary-color: #0f0f0f;
	--secondary-color: #606060;
	--bg-hover: rgba(0, 0, 0, 0.1);
	--bg-hint: #f8f8f8;
	--border-color: #ccc;
	--input-hint: #1c62b9;
}
